html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.collect {
    margin-top: -2.7vh;
}

.collect a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.collect a:hover {
    color: rgb(50, 230, 50);
    transition: .5s ease;
    text-decoration: none;
}

.icon {
    width: 10vh;
    height: 10vh;
}

.icon:hover {
    transition: .5s ease;
    transform: scale(1.1);
}

.box p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14vh;
    margin-bottom: -8vh;
    margin-left: 10vh;
    color: rgb(238, 238, 238);
}

.box {
    padding-top: 15vh;
    padding-bottom: 48vh;
}

.headButton {
    margin: 10vh 0 0 10vh;
    padding: 1vh 1vw;
    font-size: 4vh;
    background: none;
    border: 2px solid rgb(238, 238, 238);
    color: rgb(238, 238, 238);
    transition: .5s ease;
}

.headButton:hover {
    color: rgb(50, 230, 50);
    border: 2px solid rgb(50, 230, 50);
    text-decoration: none;
}

.bottomNav {
    background: rgb(45, 54, 47);
    
}

.bottomNav a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.bottomNav a:hover {
    color: rgb(50, 230, 50);
    transition: .5s ease;
    text-decoration: none;
}

.bottomNav p {
    color: rgb(238, 238, 238);
    font-size: 6vh;
    margin-bottom: -2vh;
}

.img {
    padding: 4vh;
    height: 70vh;
}

.tint {
    background-color: rgb(97, 119, 102);
    color: rgb(238, 238, 238);
    padding: 5vh;
}

.about h3 {
    font-size: 5vh;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about p {
    font-size: 2.6vh;
    font-weight: 350;
}

#pageLead {
    background-size: cover;
    background-image: url('../img/about.jpg');
}