html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(248, 248, 248);
}       

hr {
    color: black;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.collect {
    margin-top: -2.7vh;
}

.collect a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.collect a:hover {
    color: rgb(102, 255, 255);
    transition: .5s ease;
    text-decoration: none;
}

.icon {
    width: 11vh;
    height: 11vh;
}

.icon:hover {
    transition: .5s ease;
    transform: scale(1.075);
}

.box p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14vh;
    margin-bottom: -8vh;
    margin-left: 10vh;
    color: rgb(238, 238, 238);
}

.box {
    padding-top: 20vh;
    padding-bottom: 53vh;
}

.headButton {
    margin: 10vh 0 0 10vh;
    padding: 1vh 1vw;
    font-size: 4vh;
    background: none;
    border: 2px solid rgb(238, 238, 238);
    color: rgb(238, 238, 238);
    transition: .5s ease;
}

.headButton:hover {
    color: rgb(102, 255, 255);
    border: 2px solid rgb(102, 255, 255);
    text-decoration: none;
}

.bottomNav {
    background-image: linear-gradient(rgb(60, 60, 60), rgb(30, 30, 30), rgb(15, 15, 15));
}

.bottomNav a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.bottomNav a:hover {
    color: rgb(102, 255, 255);
    transition: .5s ease;
    text-decoration: none;
}

.bottomNav p {
    color: rgb(238, 238, 238);
    font-size: 6vh;
    margin-bottom: -2vh;
}

.external div {
    border: 2px solid rgb(75, 79, 80);
    background-color: rgb(222, 224, 224);
    color: rgb(75, 79, 80);
}

.external h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.external a {
    border: 1.6px solid rgb(75, 79, 80);
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1.2vh;
    text-decoration: none;
    transition: .5s ease;
    color: rgb(75, 79, 80);
}

.external a:hover {
    text-decoration: none;
    background-color: rgb(75, 79, 80);
    color: rgb(222, 224, 224);
    border-color: rgb(75, 79, 80);
}

.extBtn {
    margin: 2vh;
}

#current {
    color:rgb(102, 255, 255); 
}

#hire {
    background: rgb(248, 248, 248);
}

#pageLead {
    background-size: cover;
    background-image: url('../img/contact.jpg');
}