html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.row {
    padding-top: 15vh;
}

.card-title {
    font-weight: 100;
    font-size: 6vh;
}

.list p {
    margin-top: 2vh;
    font-weight: 500;
    font-size: 3vh;
}

.list li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}

.bordered {
    border: 2px solid rgb(98, 104, 105);
}

.collect {
    margin-top: -2.7vh;
}

.collect a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.collect a:hover {
    color: rgb(71, 233, 255);
    transition: .5s ease;
    text-decoration: none;
}

.icon {
    width: 10vh;
    height: 10vh;
}

.icon:hover {
    transition: .5s ease;
    transform: scale(1.1);
}

.box p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14vh;
    margin-bottom: -8vh;
    margin-left: 10vh;
    color: rgb(238, 238, 238);
}

.box {
    padding-top: 15vh;
    padding-bottom: 48vh;
}

.headButton {
    margin: 10vh 0 0 10vh;
    padding: 1vh 1vw 1.2vh;
    font-size: 2vw;
    background: none;
    border: 2px solid rgb(238, 238, 238);
    color: rgb(238, 238, 238);
    transition: .5s ease;
}

.headButton:hover {
    color: rgb(71, 233, 255);
    border: 2px solid rgb(71, 233, 255);
    text-decoration: none;
}

.bottomNav {
    background-image: linear-gradient(rgb(60, 60, 60), rgb(30, 30, 30), rgb(15, 15, 15));
}

.bottomNav a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 2.65vh;
    display: inline-flex;
    flex-basis: initial;
}

.bottomNav a:hover {
    color: rgb(71, 233, 255);
    transition: .5s ease;
    text-decoration: none;
}

.bottomNav p {
    color: rgb(238, 238, 238);
    font-size: 6vh;
    margin-bottom: -2vh;
}

#current {
    color: rgb(71, 233, 255);
}

#pageLead {
    background-image: url(../img/resume.jpg);
    background-size: cover;
}